---
# https://timesketch.org/getting-started/install/

- name: Docker | set fact
  set_fact:
    timesketch_elastic_host: elasticsearch
    timesketch_db_host: postgres
    timesketch_db: timesketch
    timesketch_redis_host: redis
    timesketch_conf: "{{ timesketch_root }}/etc/timesketch/timesketch.conf"

- name: Set vm.max_map_count for Elasticsearch
  sysctl:
    name: vm.max_map_count
    value: '262144'
    sysctl_set: yes
    state: present
    reload: yes
  when: >
    not (ansible_virtualization_type is defined and
    (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker"))

- name: Ensure that directories exist
  file:
    name: "{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ timesketch_user }}"
  with_items:
    - "{{ timesketch_root }}/data/postgresql"
    - "{{ timesketch_root }}/data/elasticsearch"
    - "{{ timesketch_root }}/logs"
    - "{{ timesketch_root }}/etc"
    - "{{ timesketch_root }}/etc/timesketch"
    - "{{ timesketch_root }}/etc/timesketch/sigma/rules"
    - "{{ timesketch_root }}/upload"

- name: Check if existing configuration
  stat:
    path: "{{ timesketch_root }}/config.env"
  register: dcfg
- name: Fetch base configuration
  get_url:
    url: "https://raw.githubusercontent.com/google/timesketch/master/{{ item.p }}"
    dest: "{{ timesketch_root }}/{{ item.d }}"
    mode: '0644'
    owner: "{{ timesketch_user }}"
  with_items:
    - { p: docker/release/docker-compose.yml, d: docker-compose.yml }
    - { p: docker/release/config.env, d: config.env }
    # - { p: data/timesketch.conf, d: etc/timesketch/timesketch.conf }
    - { p: data/tags.yaml, d: etc/timesketch/tags.yaml }
    - { p: data/plaso.mappings, d: etc/timesketch/plaso.mappings }
    - { p: data/features.yaml, d: etc/timesketch/features.yaml }
    - { p: data/sigma_config.yaml, d: etc/timesketch/sigma_config.yaml }
    - { p: data/sigma/rules/lnx_susp_zenmap.yml, d: etc/timesketch/sigma/rules/lnx_susp_zenmap.yml }
    - { p: contrib/nginx.conf, d: etc/nginx.conf }
  when: not dcfg.stat.exists

- name: set up timesketch config
  template:
    src: timesketch.conf.j2
    dest: "{{ timesketch_conf }}"
    owner: "{{ timesketch_user }}"
    mode: '0600'
    backup: "{{ timesketch_backup | default('no') }}"

- name: Replace variables
  replace:
    path: "{{ item.p }}"
    regexp: "{{ item.re }}"
    replace: "{{ item.rep }}"
    mode: '0644'
    backup: "{{ timesketch_backup | default('no') }}"
  with_items:
    - { p: "{{ timesketch_root }}/config.env", re: "^POSTGRES_PASSWORD=.*", rep: "POSTGRES_PASSWORD='{{ timesketch_db_pass }}'" }
    - { p: "{{ timesketch_root }}/config.env", re: "^ELASTIC_MEM_USE_GB=.*", rep: "ELASTIC_MEM_USE_GB='{{ timesketch_docker_elasticmem | default(4) }}'" }

- name: Ensure .env symlink
  file:
    src: "{{ timesketch_root }}/config.env"
    dest: "{{ timesketch_root }}/.env"
    mode: '0644'
    state: link

- name: Ensure python3-pip is present
  package:
    name: python3-pip
    state: present

- name: Ensure docker pip is present
  pip:
    name:
      - docker
      - docker-compose
    state: present
    executable: "{{ timesketch_python_pip }}"

- name: Run `docker-compose up`
  docker_compose:
    project_src: "{{ timesketch_root }}"
    build: no
  register: up
  environment:
    DOCKER_CLIENT_TIMEOUT: 120
    COMPOSE_HTTP_TIMEOUT: 120

- name: Debug | docker-compose up output
  debug: var=up verbosity=2

# FIXME: not idempotent - always 'User xxx created/updated'
- name: add timesketch user  # noqa no-changed-when
  command: "docker-compose exec -T timesketch-web tsctl add_user --username {{ item.u }} --password {{ item.p }}"
  args:
    chdir: "{{ timesketch_root }}"
  with_items: "{{ timesketch_userlist }}"
